SECRET_KEY=super-secret-key
DEBUG=False
ALLOWED_HOSTS=*

DB_NAME=playto_payout
DB_USER=playto_payout_user
DB_PASSWORD=b25Dos77k3Tx1A1UR53y188LkPvvccgD
DB_HOST=dpg-d7m6hqd7vvec738f9un0-a
DB_PORT=5432

REDIS_URL=redis://red-d7m6j5ipmmbs73bqlhsg:6379
